.row
  #instructions Choose your donation amount using the slider below:

div.row.slider
  table
    tr
      td $#{opts.price.min}
      td
        input#slider(type="range",min="#{opts.price.min}",max="#{opts.price.max}",step="0.50",value="#{opts.price.suggested}")
      td $#{opts.price.max}

.row
  #amount Amount:&nbsp;&nbsp;
    span#slider-amount
.row
  .checkout-button
    img#checkout-button(src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif")
